<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CustomerMapper">
	
	<resultMap id="Customer" type="Customer">
		<id property="Email" column="email" />
		<result property="FName" column="fname" />
		<result property="LName" column="lname" />
		<result property="StreetNo" column="streetno" />
		<result property="Street" column="streetname" />
		<result property="City" column="city" />
		<result property="State" column="state" />
		<result property="Zip" column="zip" />
		<result property="Phone" column="phone" />
		<result property="Password" column="password" />
	</resultMap>
	
	<resultMap id="Restaurant" type="Restaurant">
		<result property="RestID" column="RestID" />
		<result property = "RName" column="RName" />
		<result property = "phone" column="phone"/>
		<result property = "email" column="email"/>
		<result property = "diningType" column="diningType" />
		<result property = "streetNo" column = "streetNo" />
		<result property = "streetName" column = "streetName" />
		<result property = "city" column = "city" />
	</resultMap>
	
	
	<resultMap id="Review" type="Review">
		<id property="ReviewID" column="ReviewID"/>
		<result property="custEmail" column="custEmail"/>
		<result property="RestID" column="RestID"/>
		<result property="ReviewTitle" column="ReviewTitle"/>
		<result property="ReviewDescr" column="ReviewDescr"/>
		<result property="ReviewDate" column="ReviewDate"/>
		<result property="Rating" column="Rating"/>
		<result property="priceRange" column="priceRange" />
		<result property="deliveryFlag" column="deliveryFlag"/>
	</resultMap>
	
	<resultMap id="MenuItem" type="MenuItem">
		<result property="RestID" column="RestID"/>
		<result property="FoodName" column="FoodName"/>
		<result property="Price" column="Price"/>
	</resultMap>
	
	<resultMap id="Order" type="Order">
		<result property="RestID" column="RestID"/>
		<result property="Ono" column="Ono"/>
		<result property="Qty" column="qty"/>
		<result property="Option" column="Option" />
	</resultMap>
	
	<resultMap id="RestaurantOrder" type="RestaurantOrder">
		<result property="Ono" column="Ono"/>
		<result property="OrderDate" column="OrderDate" />
		<result property="custEmail" column="custEmail"/>
		<result property="OrderDineInFlag" column="OrderDineInFlag"/>
		<result property="OrderDeliveryFlag" column="OrderDeliveryFlag"/>
		<result property="OrderPickUpFlag" column="OrderPickUpFlag" />
	</resultMap>
	
	
	<select id="selectCustomer" resultMap="Customer">
		SELECT fname, lname, email, streetno, streetname, city, state, zip, phone, password FROM RESTAURANT_CUSTOMER WHERE email = #{email}
	</select>
	
	<insert id="insertCustomer" parameterType="Customer">
		INSERT INTO RESTAURANT_CUSTOMER (fname, lname, email, streetno, streetname, city, state, zip, phone, password) VALUES (#{FName},#{LName},#{Email},#{StreetNo},#{Street},#{City},#{State},#{Zip},#{Phone},#{Password})
	</insert>	
	
	<select id="selectRestaurant" resultMap="Restaurant">
		SELECT restid, rname, email, phone, streetno, streetname, city FROM RESTAURANT
	</select>
	
	<select id="getRestaurantDetails" resultMap="Restaurant">
		SELECT RName, Phone, Email, hours, diningtype, streetno, streetname, city, state, pricerange, deliveryflag from RESTAURANT WHERE RName = #{RName}
	</select>
	 
	<insert id="insertReview" parameterType="Review">
		INSERT INTO CUST_REVIEW (ReviewID, custEmail, RestID, ReviewTitle, ReviewDescr, ReviewDate, Rating) VALUES (#{ReviewID},#{custEmail},#{RestID},#{ReviewTitle},#{ReviewDescr},#{ReviewDate},#{Rating})
	</insert>	
	
	<select id="selectMenuItems" resultMap="MenuItem">
		SELECT foodName, price FROM MENU where restID = #{RestID}
	</select>
	
	<insert id="InsertRestaurantOrder" parameterType="RestaurantOrder">
		INSERT INTO RESTAURANT_ORDER (Ono, OrderDate, CustEmail, OrderDineInFlag, OrderDeliveryFlag, OrderPickUpFlag) 
		VALUES (
		#{Ono},
		#{OrderDate},
		#{CustEmail},
		#{OrderDineInFlag},
		#{OrderDeliveryFlag},
		#{OrderPickUpFlag})
	</insert>
	
	<insert id="InsertOrder" parameterType="Order">
		INSERT INTO RESTAURANT_ODETAILS (Ono, FoodName, RestID,Qty) VALUES (#{Ono}, #{FoodName}, #{RestID}, #{Qty})
	</insert>
	
	</mapper>